<div #container class="note-card-container">

  <div class="note-card-content">

    <h1 class="note-card-title">Lorem</h1>
    <div class="note-card-body">
      <p>Body Text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quas nemo harum sed hic eveniet dolorem cumque, neque nulla voluptas quasi et, quos optio eos commodi ea blanditiis illum iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quidem facere sunt, corrupti explicabo cum, molestias tempora voluptas beatae nulla illum totam molestiae quam eius minima dolore adipisci nam modi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur placeat ipsum deserunt voluptate temporibus! Sit, illum unde tenetur fuga ipsum accusamus provident laborum cum fugiat dolor, neque sequi placeat suscipit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio atque rem, fuga, labore ratione officia accusamus maxime similique quae voluptates deleniti cupiditate! Odit alias quisquam facere tempore laudantium, sapiente quas?</p>
      <div class="fade-out-truncation">

      </div>
    </div>

  </div>

  <div class="x-button">

  </div>
</div>
