@import '../../../main.styles.scss';

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  max-width: 1250px ;

  margin: auto;
  padding-top: 50px;
}

.notes-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 35px;

  margin-bottom: 70px; //this will prevent overlapping the content with the add button
                      //because the button has a position: fixed property
}

app-note-card {
  display: block;

  margin-bottom: 25px;
}

.floating-add-button {
  position: fixed;

  bottom: 0;// this will stick the button to the bottom
  width: 1250px;
  height: 68px;

  font-size: 24px;

  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px rgba($purple, 0.2);

}
